
.main-container{
   min-width: 380px;
   width: 40%;
   margin: auto;
   margin-top: 100px;
}

.input-container{
   width: 95%;
   margin: auto;
}

.input-container input{
   width: 100%;
   height: 40px;
   border-radius: 40px;
   padding: 5px 20px;
   text-align: center;
   font-size: 1.1rem;
   border: 2px solid gold;
   background:#1b5f9c;
   opacity: 0.92;
   color: white;
   outline: none;
   box-shadow: 0px 2px 12px 1px goldenrod;
}

.input-container input:focus{
   outline: 2px solid white;
   outline-offset: 3px;
}


.input-container input::placeholder{
   color: rgba(255, 255, 255, 0.55);
}

.input-sideicon{
   width: 40px;
   height: 46px;
   background-color: red;
   position: relative;
   top: 46px;
   left: -12px;
   opacity: 0.75;
   transform: skew(-25deg);
}

.search-output-container{
   margin-left: 16px;
   margin-top: -6px;
   width: 100%;
   background: linear-gradient(to right, rgba(30, 30, 30, 0.8) ,#0b143e4e 50%);
   box-shadow: 0px 4px 10px 3px rgba(28, 28, 28, 0.5)  ;
}

.show-card{
   border-bottom: 1px solid rgb(92, 92, 92);
   display: flex;
   color: white;
   min-height: 160px;
}

.show-card-img{
   padding: 15px;
}

.show-card-img, .show-card-img img{
   width: 100px;
   height: 100%;
}

.show-card-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 76%;
}

.show-card-title{
   font-size: 1.05rem;
   font-family: sans-serif;
   margin-bottom: 10px;
}

.show-card-content button,.show-card-content a{
   
   font-family: sans-serif;
   text-decoration: none;
   border: 2px solid white;
   color: white;
   font-size: 1.05rem;
   text-align: center;
   width: 100%;
   cursor: pointer;
   border-radius: 8px;
   padding-bottom: 4px;
   transition: all .4s;
}

.show-details-btn{
   background-color: transparent;
   margin-bottom: 10px;
}

.show-favourite-btn{
   background-color: green;
}

.show-card-content button:hover,.show-card-content a:hover  {
   color: black;
   background-color: lightgray;
}

.show-favourited{
   background-color: rgb(255, 111, 0);
}